---
http_interactions:
- request:
    method: get
    uri: https://api.fixer.io/latest?base=USD&symbols=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      last-modified:
      - Tue, 20 Jun 2017 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"base":"USD","date":"2017-06-20","rates":{"RUB":59}}'
  recorded_at: Tue, 20 Jun 2017 20:21:19 GMT
recorded_with: VCR 3.0.3
